<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thankcreate.care"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.thankcreate.care.App"
        android:allowBackup="true"
        android:debuggable="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thankcreate.care.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thankcreate.care.account.AccountActivity"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.thankcreate.care.status.StatusTimelineActivity"
            android:label="@string/title_activity_status_timeline"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.thankcreate.care.lab.LabActivity"
            android:label="@string/title_activity_lab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.thankcreate.care.picture.PictureWallActivity"
            android:label="@string/title_activity_picture_wall"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.thankcreate.care.preference.PreferenceActivity"
            android:label="@string/title_activity_preference"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.thankcreate.care.account.AccountSelectFreindActivity"
            android:label="@string/title_activity_account_select_freind"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.thankcreate.care.status.StatusDetailActivity"
            android:label="@string/title_activity_status_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.thankcreate.care.status.StatusAddCommentActivity"
            android:label="@string/title_activity_status_add_comment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
"
        </activity>
        <activity
            android:name="com.buuuk.android.gallery.ImageViewFlipper"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>
</manifest>